<div class="sidebar" data-color="purple" data-background-color="black" data-image="/assets/img/sidebar-2.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo"><a href="/artist" class="simple-text logo-normal">
      <img src="/images/admin/logo2.png" style="height: 60px;" alt="">  

      </a></div>
    <div class="sidebar-wrapper ">
      <ul class="nav">
        <li class="nav-item dashboard_li">
          <a class="nav-link" href="/artist">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item profile_li ">
          <a class="nav-link" href="/artist/profile">
            <i class="material-icons">person</i>
            <p>Profile</p>
          </a>
        </li>
        <li class="nav-item upload_li">
          <a class="nav-link" href="/artist/upload-music">
            <i class="material-icons">backup</i>
            <p>Upload Music</p>
          </a>
        </li>
        <li class="nav-item music_li">
          <a class="nav-link" href="/artist/music">
            <i class="material-icons">library_music</i>
            <p>My Music</p>
          </a>
        </li>
        <li class="nav-item upload_merch_li">
          <a class="nav-link" href="/artist/upload-merch">
            <i class="material-icons">backup</i>
            <p>Upload Merch</p>
          </a>
        </li>
        <li class="nav-item dashboard_li_view_merch">
          <a class="nav-link" href="/artist/merch">
            <i class="material-icons">backup</i>
            <p>My Merch</p>
          </a>
        </li>
        <li class="nav-item dashboard_li_album_create">
          <a class="nav-link" href="/artist/create/album">
            <i class="material-icons">backup</i>
            <p>Create album</p>
          </a>
        </li>
        <li class="nav-item dashboard_li_album_list">
          <a class="nav-link" href="/artist/list/album">
            <i class="material-icons">library_music</i>
            <p>View album</p>
          </a>
        </li>
        <li class="nav-item orders_li">
          <a class="nav-link" href="/artist/orders">
            <i class="material-icons">list_alt</i>
            <p>Order's</p>
          </a>
        </li>

        <li class="nav-item withdraw_li active-pro ">
            <a class="nav-link plan_link" href="/artist/withdraw">
              <i class="material-icons">paid</i>
              <p>Withdraw</p>
            </a>
          </li>
      </ul>
    </div>
  </div>