<div class="sidebar" data-color="purple" data-background-color="black" data-image="/assets/img/sidebar-2.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo"><a href="/admin" class="simple-text logo-normal">
      <img src="/images/admin/logo2.png" style="height: 60px;" alt="">  

      </a></div>
    <div class="sidebar-wrapper ">
      <ul class="nav">
        <li class="nav-item dashboard_li">
          <a class="nav-link padding_0" href="/admin">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item order__li">
          <a class="nav-link padding_0" href="/admin/orders">
            <i class="material-icons">list_alt</i>
            <p>Orders</p>
          </a>
        </li>
        <li class="nav-item all_artist_li">
          <a class="nav-link padding_0" href="/admin/all/artist">
            <i class="material-icons">manage_accounts</i>
            <p>All Artist</p>
          </a>
        </li>

        <li class="nav-item draft_li">
          <a class="nav-link padding_0" href="/admin/draft">
            <i class="material-icons">pending</i>
            <p>Draft Music</p>
          </a>
        </li>
        <li class="nav-item rejected_music_li">
          <a class="nav-link padding_0" href="/admin/rejected">
            <i class="material-icons">backspace</i>
            <p>Rejected Music</p>
          </a>
        </li>
        <li class="nav-item live_music_li">
          <a class="nav-link padding_0" href="/admin/live">
            <i class="material-icons">album</i>
            <p>Live Music</p>
          </a>
        </li>
        <li class="nav-item draft_merch__li">
          <a class="nav-link padding_0" href="/admin/merch-draft">
            <i class="material-icons">pending</i>
            <p>Draft Merch</p>
          </a>
        </li>
        <li class="nav-item reject_merch__li">
          <a class="nav-link padding_0" href="/admin/merch-rejected">
            <i class="material-icons">backspace</i>
            <p>Rejected Merch</p>
          </a>
        </li>
        <li class="nav-item live_merch__li">
          <a class="nav-link padding_0" href="/admin/merch-live">
            <i class="material-icons">album</i>
            <p>Live Merch</p>
          </a>
        </li>
        <li class="nav-item subscribe__li">
          <a class="nav-link padding_0" href="/admin/subscribe">
            <i class="material-icons">paid</i>
            <p>Subscribe Email</p>
          </a>
        </li>
        <li class="nav-item super_withdrwa__li">
          <a class="nav-link padding_0" href="/admin/withdraw-request">
            <i class="material-icons">paid</i>
            <p>Withdraw Request</p>
          </a>
        </li>
        <!-- <li class="nav-item plan_li active-pro ">
            <a class="nav-link plan_link" href="/plan">
              <i class="material-icons">paid</i>
              <p>Withdraw</p>
            </a>
          </li> -->
      </ul>
    </div>
  </div>