<link rel="stylesheet" href="/stylesheets/style.css">

<div class="conatiner-fluid" style="width: 98%;">
    <div class="row">
        <div class="col-md-12 reset_head">
            <h1> Reset Password </h1>
        </div>
        <div class=" col-10 col-md-6  res_col_me ">
            <div class="card resetpassform" >
                <div class="card-header" style="padding-bottom: 0;">
                    <p>Please enter your new password !</p>
                </div>
                <div class="card-body"  style="padding-top:0;">
                    <div class="form-group">
                       <p>New password</p>
                        <input type="password" class="inpt_clas" id="newPass_1" placeholder="New Password" />
                        <span id="new_pass_mess" >  </span>
                    </div>
                    <div class="form-group">
                        <p>Retype password</p>
                         <input type="password" class="inpt_clas" id="newPass_2" placeholder="Retype password" />
                        <span id="re_pass_mess" >  </span>
 
                     </div>
                     <div class="form-group">
                       
                         <input type="submit" value="Reset Password" id="saveNewPassBtn" class="inpt_clas save_new_pass "  />
                     </div>
                </div>
                <div class="card-footer">
                    <p id="err_save_password">  </p>
                </div>
                 
            </div>
        </div>
    
    </div>
</div>
<script>
    let email = "<%= email %>";
    let verifyId = "<%= verifyId %>";

    
    
</script>
<script src="/javascripts/AdiminJs/resavepass.js"></script>